:root {
  --middle-grey: #8e9498;
  --dark: #0a141b;
  --dark-grey: #5a6165;
  --grey: #cccccc;
  --green: #26c77a;
  --dark-green: #1e945b;
  --white: #fbfbfb;
  --main-bg: #f1f1f1;
  --black: #000000;
  --font-family: 'Onest', sans-serif;
}
